<template>
  <v-app dark>
    <appHeader/>
    <v-content>
      <v-container>
        <v-layout>
          <transition name="slide" mode="out-in">
            <router-view/>
          </transition>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import appHeader from '../src/components/navigation/Header';
/** Components do not need to have an el atribute to be mounted in the dom. */
export default {
  /** Name property is not strictly required, but it helps to debug different components looking
  for the name property, it's like the alias in the rouiter */
  name: 'App',
  components: { appHeader }
};
</script>

<style lang="scss" scoped>
.slide-leave-active {
  transition: opacity 0.2s ease;
  opacity: 0;
  animation: slide-out 0.2s ease-out forwards;
}

.slide-leave {
  opacity: 0.5;
  transform: translateX(0);
}

.slide-enter-active {
  animation: slide-in 0.2s ease-out forwards;
}

@keyframes slide-out {
  0% {
    transform: translatezX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
