<template>
  <v-flex mb-3 align-content-center>
    <v-text-field class="input" label="Search video" @input="onInput"/>
  </v-flex>
</template>

<script>
export default {
  name: 'SearchBar',
  methods: {
    onInput(event) {
      /** emitting events to be listened in the parent component to send data */
      this.$emit('searching', event);
    }
  }
};
</script>

<style scoped>
.input {
  width: 75%;
}
</style>
