  <template>
  <div>
    <v-divider inset/>
    <v-list-tile :key="video.snippet.title" avatar @click.stop="onLoadVideo" ripple>
      <v-img height="90px" max-width="120px" class="mr-2">
        <img :src="thumbnailUrl">
      </v-img>

      <v-list-tile-content>
        <v-list-tile-title v-text="video.snippet.title"></v-list-tile-title>
        <v-list-tile-sub-title v-text="video.snippet.description"></v-list-tile-sub-title>
      </v-list-tile-content>
    </v-list-tile>
    <!-- <v-layout>{{ video.snippet.title }}</v-layout> -->
  </div>
</template>
  
<script>
export default {
  /** It seems to be a good practice to name every component for debugging reasons */
  name: 'VideoListItem',
  props: ['video'],
  methods: {
    /** Everytime the user picks a video it will start a chain of events that go up to the
     * main root of the app, in this case the view Youtube. So there we can pass the video
     * to the videoDetail component and render it.
     */
    onLoadVideo() {
      this.$emit('onVideoPicked', this.video);
    }
  },
  computed: {
    thumbnailUrl() {
      return this.video.snippet.thumbnails.default.url;
    }
  }
};
</script>
