<template>
  <v-flex xs12 sm12 md4 order-sm2 order-xs2 order-md1 order-lg1 class="pa-2">
    <v-card>
      <v-list three-line>
        <v-subheader v-text="'Results'"/>
        <VideoListItem
          @onVideoPicked="videoPicked"
          v-for="video of videos"
          :key="video.etag"
          :video="video"
        />
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
import VideoListItem from './VideoListItem';

/** TimeLine
 * Method of parent onTermChage called
 * Request to YT api made
 * YT response with a list of objects that represent videos
 * Store list of videos on 'data' in the parent component
 * updating 'data' causes the app to rerender
 * VideoList will receive the list of videos and show it on the screen
 */
export default {
  name: 'VideoList',
  /** Steps for passing props: Parent component -- props --> child component
   * Add the prop to the parent component's template with a v-bind expression
   * Tell the child component about the props it should expect to get
   *
   * v-bind: Every time theres a change in the value of the binded expression, the
   * component will re-render in the screen with the new value.
   * Every time the list of videos fetched from the api and assigned to the
   * variable videos in the parent component this component will re-render as it is
   * binded to that variable and passed as prop to this child component. The directive
   * binds together data and component. The shorthand form to define a v-bind is a
   * colon (:)
   *
   * Props: recieve either an array or an object, if it's an array, it should contain the
   * name of the props that it will recieve through the binding in the parent component.
   * If it's an object it will recieve validation through kvps (see docs on props validation)
   */
  props: ['videos'],
  components: { VideoListItem },
  methods: {
    videoPicked(video) {
      this.$emit('videoSelect', video);
    }
  }
};
</script>

<style scoped>
</style>
