<template>
  <v-flex xs12 sm12 md8 order-sm1 order-xs1 order-md2 order-lg2 class="pa-2" v-if="video">
    <v-card>
      <!-- <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="400px"> -->
      <v-layout>
        <iframe
          height="510px"
          width="100%"
          :src="videoUrl"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </v-layout>
      <!-- </v-img> -->
      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="headline" v-text="video.snippet.title"/>
            <!-- <v-list-tile-sub-title>Mobile</v-list-tile-sub-title> -->
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="caption" v-text="video.snippet.description"/>
            <!-- <v-list-tile-sub-title>Work</v-list-tile-sub-title> -->
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'VideoDetail',
  props: ['video'],
  computed: {
    videoUrl() {
      return `https://www.youtube.com/embed/${this.video.id.videoId}`;
    }
  }
};
</script>

<style>
</style>
