<template>
  <v-toolbar flat>
    <v-toolbar-title class="headline text-uppercase">
      <span class="font-weight-light grey--text">Vue Training</span>
    </v-toolbar-title>
    <v-spacer/>
    <v-btn flat small fab router to="/">
      <v-icon>home</v-icon>
    </v-btn>
    <v-btn flat small fab @click="login" v-if="!isLoggedIn">
      <v-icon>exit_to_app</v-icon>
    </v-btn>
    <v-btn v-else flat small fab @click="logout">
      <v-icon>cancel</v-icon>
    </v-btn>
    <v-menu offset-y offset-x>
      <v-btn flat slot="activator" color="grey">
        <v-icon small left>expand_more</v-icon>
        <span>sections</span>
      </v-btn>
      <v-list>
        <v-list-tile v-for="(link, i) of allowedLinks" :key="i" router :to="link.route">
          <v-list-tile-action>
            <v-icon small>{{link.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{link.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex';

export default {
  name: 'appHeader',
  data: () => ({
    links: [
      {
        text: 'Identicon',
        route: '/identicon',
        icon: 'web',
        requireLogin: false
      },
      {
        text: 'Youtube',
        route: '/youtube',
        icon: 'ondemand_video',
        requireLogin: false
      },
      {
        text: 'Imgur',
        route: '/imgur',
        icon: 'collections',
        requireLogin: true
      }
    ]
  }),
  methods: mapActions(['login', 'logout']),
  /** The first way to call the action is simply by calling the store.dispatch method
   * The second way is to import the helpers from the library itself but as Max said, it
   * will be asociated to all the methods. So we need to add the mapActions to the methods
   * object with the spread operators, so the component can have other methods of its own.
   * If it doesn't then we can just asign the methods to the returning funcion
   */
  // onLogin() {
  // this.$store.dispatch('login');
  // }
  // ...mapActions['login']

  /** Getters should always be defined in computed properties, the same way its defined as
   * the actions
   */
  computed: {
    ...mapGetters(['isLoggedIn']),
    allowedLinks() {
      return this.links.filter(link => !link.requireLogin || this.isLoggedIn);
    }
  }
};
</script>

<style>
</style>