<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="500">
      <v-btn slot="activator" absolute dark fab bottom right color="primary" @click="dialog = true">
        <v-icon v-text="'add'"/>
      </v-btn>
      <v-card>
        <v-card-title class="headline grey darken-2 white--text" primary-title></v-card-title>
        <div class="dropper ma-4">
          <input type="file" multiple @change="uploadImages($event.target.files)" accept="image/*">
          <span class="caption">Drag files here!</span>
        </div>
        <v-divider></v-divider>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  data: () => ({ dialog: false }),
  methods: mapActions(['uploadImages'])
};
</script>

<style scoped>
.dropper {
  height: 30vh;
  border: 2px dashed black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropper:hover {
  background-color: rgb(50, 50, 50);
}

input {
  width: 100%;
  height: 30vh;
  position: absolute;
  opacity: 0;
}
</style>
