<template>
  <v-flex offset-xs5>
    <v-progress-circular :size="70" :width="7" color="purple" indeterminate></v-progress-circular>
    <h1 class="caption">Please wait..</h1>
  </v-flex>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'AuthHandler',
  /** Life cycle methods: function called automatically in certain points of the component life cycle
   * new Vue() -> Init events and lifecycle
   *
   * 1) beforeCreate: Invoked automatticaly before the component is created
   *
   * Init injections and reactivity
   * 2) created is called.
   * Etc. The official docs has more in depth info about these lifecycles. Here we need the
   * created function to parse the url and extract the information.
   */
  methods: mapActions(['finalizeLogin']),
  created() {
    this.finalizeLogin(window.location.hash);
  }
};
</script>

<style>
</style>
