<template>
  <div>
    <h1 class="display-1 font-weight-light mt-4">Vue instance properties</h1>
    <h2 class="headline mt-4">El</h2>
    <p class="body-1">
      El is the property that points to the element in the html that which is goint to be
      controlled by the vue instance, normally it is selected with an element id, look for that
      element in the dom to attach the instance to that template, that links together the js and
      the segment in the application
    </p>
    <v-layout row>
      <v-flex>
        <p class="caption">HTML</p>
      </v-flex>
      <v-flex>
        <p class="caption">Javascript</p>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex>
        <code>{{ text }}</code>
      </v-flex>
      <v-flex>
        <code>new Vue({ el: '#app'})</code>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data: () => ({
    text: `<div id="app">
  </div>`
  })
};
</script>
cvcVeCVCVCVecvevq require('q r');q rf rqrfqrffr rr q require('r q r');qfq 234t23