<template>
  <div>
    <h3 class="display-1 font-weight-light mb-5">My Identicon Generator</h3>
    <!-- <v-list>
      <v-list-tile v-for="step of steps" :key="step">
        <v-list-tile-title v-text="step"/>
      </v-list-tile>
    </v-list>-->
    <v-layout row class="mt-5">
      <v-flex md8 xs12 sm8>
        <v-text-field @input="onInput" label="Input"/>
        <div v-html="identicon"/>
        <!-- Generally, string interpolation is parsed to v-text. Also, it is 
        highly advisable to use computed properties insted of setting too much logic
        in templates-->
        <p v-text="reverse"/>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
/** General steps to make this work
 * Vue instance is created.
 * Data property evaluated, sets 'this.textInput' to empty string
 * template is evaluated by vue and rendered to the screen
 * User types some text into input
 * onInput method is executed, updating the value of 'textInput'
 * Because a property that was initialized by data is updated, template
 * is re-rendered
 * During re-render, vue sees the template references a computed property
 * Computed property 'identicon' is ran, returing some raw html
 * We don't want to render raw html as a string, we want to show it as html,
 * so use a directive to output it
 *
 */
import jdenticon from 'jdenticon';

export default {
  /** Vue API: Vue can be seen a a stateful framework, i guess that's why vuex exists,
   * data defines the initial state of the vue instance. (how everything starts)
   * methods: defines the different ways our state can change ( Change data)
   * computed: Defines how to turn the current data in the state into viewable values
   * (turns data into viewable stuff).
   * Parenthesis in Stephen's words.
   *
   * Initialize our list of 'ingredients', initial state of the component, simple kvp's
   * Everytime data changes it is automatically updated in the template, and re-rendere in
   * the browser window.
   */
  data: () => ({
    steps: [
      '1. Detect that the user has entered some new text',
      '2. Get the text the user entered',
      '3. Use that text to generate a new identicon',
      '4. Show the indenticon next to output'
    ],
    textInput: ''
  }),
  /** All the methods somewhat always will transform data (initial state in declarative programming)
   * Use these functions to change data
   */
  methods: {
    /** Difference between event and $event, in this example event fetches $event.target.value */
    onInput(event) {
      // console.log(event);
      this.textInput = event;
    }
  },
  /** Computed: Consume the data and show it in the screen in some fashion
   * Turn data into viewable values, also are going to be functions
   */
  computed: {
    identicon() {
      return jdenticon.toSvg(this.textInput, 200);
    },
    reverse() {
      return this.textInput
        .split('')
        .reverse()
        .join('');
    }
  }
};
</script>

<style>
</style>
