<template>
  <v-layout>
    <v-flex xs12 sm8 offset-sm2>
      <v-card v-if="allImages.length !== 0">
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <v-flex v-for="image of allImages" :key="image.id" xs4 d-flex>
              <v-card flat tile class="d-flex">
                <v-img :src="image.link" aspect-ratio="1" class="grey lighten-2">
                  <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
          <UploadForm/>
        </v-container>
      </v-card>
      <v-progress-circular v-else :size="70" :width="7" color="purple" indeterminate/>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UploadForm from '../components/gallery/UploadForm';
export default {
  name: 'ImageList',
  components: { UploadForm },
  computed: mapGetters(['allImages']),
  methods: mapActions(['fetchImages']),
  created() {
    this.fetchImages();
  }
};
</script>

<style>
</style>
