<template>
  <div>
    <h1 class="display-1 font-weight-light mb-4">Youtube video browser</h1>
    <!-- Listening custom events from the child component (v-on) -->
    <SearchBar @searching="onSearch"/>
    <!-- Binding props to a child component to send it data. (v-bind) -->
    <v-layout row wrap>
      <VideoList
        v-if="fetchedVideos.length !== 0"
        @videoSelect="onLoadVideo"
        :videos="fetchedVideos"
      />
      <VideoDetail :video="selectedVideo"/>
    </v-layout>
  </div>
</template>

<script>
import axios from 'axios';
import SearchBar from '../components/youtube/SearchBar';
import VideoList from '../components/youtube/VideoList';
import VideoDetail from '../components/youtube/VideoDetail';

/** This object is going to have all Vue api properties that belong to this component
 *
 * Communication between components is easier from parent to childs, but not between siblings
 * so the search logic has to be executed in the parent component for easy sharing.
 *
 * We communicate from parent to child by passing 'props'
 * Communicate from child to parent by emitting events
 */
export default {
  /** Data in components must be a function that returns an object with its data, it's not
   * the data is shared across the aplication and can be modified by any vue instance, therefore
   * it makes them unreliable. To solve this issue, data is a function that returns an object that
   * represent that specific component's data.
   *
   */
  data: () => ({
    timer: null,
    fetchedVideos: [],
    selectedVideo: null
  }),
  components: {
    SearchBar,
    VideoList,
    VideoDetail
  },
  methods: {
    onSearch(searchTerm) {
      /** I'll try to refactor to make the search after 1 second of not typing anything.
       * we save the setTimeout in a variable, and everytime the event runs we check if
       * this is set. If it's set we clear it to avoid executing the search if anything is
       * written within that window of time of 1 second. If the box is cleared by the user
       * it will clear the previous timeout and will not execute any search. If there's
       * no typing in one second and there is information in the box, then the search will
       * trigger.
       */
      /** Axios returns promises as this is an async request */
      if (this.timer) clearTimeout(this.timer);
      if (searchTerm === '') return;
      this.timer = setTimeout(() => {
        axios
          .get(`https://www.googleapis.com/youtube/v3/search`, {
            /** Params config the body of the request in which we define the parameters we need,
             * type is what we expect from the request. part is which part of the request is fetched
             * (notice that this only applies in the youtube api, see docs to learn more), and the query
             */
            params: {
              key: process.env.VUE_APP_ROOT_API,
              type: 'video',
              part: 'snippet',
              q: searchTerm
            }
          })
          .then(response => {
            /** This data property is not data instance, it's from the response object */
            this.fetchedVideos = response.data.items;
          });
      }, 400);
    },
    onLoadVideo(video) {
      /** Communication is not that easy between siblings components */
      this.selectedVideo = video;
    }
  }
};
</script>

<style>
</style>
